*{
    margin: 0;
    padding: 0;
}

body{
   font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.header{
    width: 100%;
    height: 10px;
    background-color: #2a2a2a;
}

footer{
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url("assets/images/footer_background.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-color: rgb(93, 48, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    gap: 20px;
    overflow: hidden;
}

.footer-div{
    max-width: 300px;
    margin-top: 20px;
}

.footer-div-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: auto;
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.footer-bottom{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 180px;
    height: auto;
}

nav{
    background-color: rgb(255, 255, 255, 0.5);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100; 
    transition: top 0.3s ease;
    backdrop-filter: blur(10px); /* adds blur to background */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid #c0c0c0;
}


.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    margin: auto;
    z-index: 10;
    border-bottom: 1px solid #e7e7e7;
    width: 95%;
    
}

.nav-right{
    display: flex;
    align-items: center;
    margin: 0px 10px;
    gap: 20px;
}

.nav-menu{
    width: 95%;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin: auto;
}


.nav-menu ul li{
    font-size: 1.1em;
}

.nav-menu a{
    text-decoration: none;
    color: #000;
}

.hover-navlink{
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    
}

.hover-navlink::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
    left: 0;
    bottom: -5px;
}


.hover-navlink:hover::after{
    width: 100%;
}

.hover-navlink:hover{
    opacity: 0.5;
    cursor: pointer;
}

.navdropdown-products{
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    
}

.navdropdown-products:hover .navdropdown-box{
    visibility: visible;
    height: 230px;
    border-bottom: 1px solid;
    padding: 20px 0px;
    
}
.hover-dropdown{
    display: flex;
    align-items: center;
}

.hover-dropdown:hover{
    opacity: 0.5;
    cursor: pointer;
}
.navdropdown-box{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 0px;
    background-color: rgb(255, 255, 255, 0.95);
    top: 120px;
    list-style: none;
    left: 0px;
    border: none;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    visibility: hidden;
    overflow: hidden;
    background-image: url(assets/images/beans_decor_corner.png);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
}


.navdropdown-box li{
    margin: 10px 0px;
}

.dropdown-left{
    border-right: 1px solid;
    padding: 20px;
    width: 400px;
}

.dropdown-left ul{
    list-style: none;
    padding: 0px;
}

.dropdown-left h2{
    margin-bottom: 20px;
}


.dropdown-right{
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.dropdown-right .card{
    border: 1px solid;
    width: 25%;
    background-color: #000000;
    text-align: center;
    
}

.dropdown-right .card p{
    padding: 5px;
    color: #ffffff;
    font-size: 0.8em;
}

.dropdown-right .card img{
    width: 100%;
    height: auto;
}


.dropdown-hover:hover a{
    opacity: 0.5;
}





.nav-buttons{
    width: 30px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.nav-buttons:hover{
    opacity: 0.5;
}





.cart-wrapper{
    position: relative;
}

.cart-text{
    position: absolute;
    left: -5px;
    top: 50px;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    background-color: rgb(255, 250, 242);
    border: 1px solid #c0c0c0;
    padding: 3px;
}

.cart-wrapper:hover .cart-text{
    top: 35px;
    opacity: 1;
}

.search-wrapper{
    position: relative;
}

.search-text{
    position: absolute;
    left: -10px;
    top: 50px;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    background-color: rgb(255, 250, 242);
    border: 1px solid #c0c0c0;
    padding: 3px;
}

.search-wrapper:hover .search-text{
    top: 35px;
    opacity: 1;
}


.register-wrapper{
    position: relative;
}

.register-text{
    position: absolute;
    left: -20px;
    top: 50px;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    background-color: rgb(255, 250, 242);
    border: 1px solid #c0c0c0;
    padding: 3px;
}

.register-wrapper:hover .register-text{
    top: 35px;
    opacity: 1;
}

/* Overlay styles */
.search-overlay {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px; /* or more if you want a bigger search bar */
    background-color: rgba(92, 64, 51, 0.5); /* semi-transparent brown */
    backdrop-filter: blur(10px); /* adds blur to background */
    padding: 20px;
    box-sizing: border-box;
    transition: top 0.3s ease-in-out;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Container for input and button */
.search-container {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Input styling */
.search-container input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
}

/* Close button */
.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}


  .mySwiper {
    width: 98%;
    padding: 10px 0;
    overflow: hidden;
  }




.posters{
    width: 100%;
    height: auto;
}

.swiper-button-prev{
    color: #d3d3d3;
    opacity: 1;
    transition: opacity 0.3s ease;
}



.swiper-button-next{
    color: #d3d3d3;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.swiper-button-next:hover{
    opacity: 0.5;
}

.swiper-button-prev:hover{
    opacity: 0.5;
}

.swiper-pagination{
    color: #d3d3d3;
}



/* All bullets */
.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: #ccc; /* Inactive color */
  opacity: 1;
  border-radius: 50%;
  transition: background 0.3s;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #6b6b6b; /* Active color */
}

.overlay-popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    background: linear-gradient(rgb(0,0,0,0.75), rgb(0,0,0,0.75), rgb(0,0,0,0.75));
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.popup-box{
    background-color: #fff;
    max-width: 350px;
    padding: 50px;
    position: relative;
    border-radius: 20px;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-box p{
    margin: 10px 0px;
}

.pre-error-message{
    font-size: 1.3em;
}

.close-icon{
    max-width: 20px;
    background: none;

}

.close-popup{
    background: none;
    border: none;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.error-message-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.warning-icon{
    width: 50px;
}

section{
    background-color: rgb(255, 252, 247);
}

.items-container{
    max-width: 95%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid #c0c0c0;
}

.category-header{
    text-align: center;
    color: #4c2910;
    padding: 30px 0px;
    font-weight: 800;
}


.items-wrapper{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.item{
    max-width: 230px;
    height: 350px;
    box-shadow: 1px 1px 1px #ebebeb;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    transform: scale(1);
    transition: 0.5s ease-in-out;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    overflow: hidden;
    position: relative;

}

.promotion{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #4c2910;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 15px;
    border-bottom-right-radius: 20px;
}

.promotion:empty{
  padding: 0;
}

.item-padding{
    padding: 0px 10px;
}

.item:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px #ebebeb;
}

.item-name{
    width: 90%;
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-img{
    width: 100%;
    height: auto;
    
}



.breif-description{
    font-size: 0.9em;
    max-width: 100%;
    height: fit-content;
    display: -webkit-box;
    -webkit-line-clamp: 3;         /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
    color: #000;
}

.breif-description:hover{
    text-decoration: underline;
}

.rating{
    width: 80px;
    max-width: 100px;
    height: auto;
}

.rating-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    height: fit-content;
    height: 30px;
    padding: 10px;
}

.rated-number{
    font-size: 0.9em;
    color: #005792;
}


.price-btn-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    gap: 10px;
}

.view-btn{
    background-color: #4c2910;
    color: #fff;
    font-size: 0.8em;
    width: fit-content;
    height: 30px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.view-btn-arrow{
    width: 20px;
    height: auto;
}

.price{
    font-size: 1.5em;
    color: #4c2910;
    width: 50px;
}

.explore-btn-wrapper{
    width: fit-content;
    margin: auto;
    padding: 30px 0px;
}

.explore-btn{
    width: 200px;
    height: 40px;
    font-size: 1.1em;
    background: none;
    border: 2px solid #000;
    z-index: 1;
    position: relative;
    cursor: pointer;

}

.explore-btn::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.5s ease-in-out;
}

.explore-btn:hover::after{
    width: 100%;
    background-color: #4c2910;
}

.explore-btn:hover{
    color: #ffffff;
}

.view-link{
    text-decoration: none;
}

.list-of-items{
    height: fit-content;
    padding-bottom: 50px;
}

.product-container{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-height: fit-content;
}

.product-container p{
    font-size: 1.12em;
}

.product-left-container{
    width: 50%;
}


.item-images-container .main-image{
    width: 80%;
    border-radius: 10px;
    height: auto;
    transition: 0.2s ease;
}

.images-wrapper{
    padding: 5px;
    margin: 5px 0px;
    padding: 5px;
    margin: 5px 0px;
}

.images-wrapper img{
    max-width: 100px;
    cursor: pointer;
}

.images-wrapper img:hover{
    border: 2px solid #4c2910;
}

.product-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}


.product-right-container{
    padding: 0px 20px;
    width: 40%;
    text-align: start;
    min-height: fit-content;
}

.product-name{
    padding: 20px 0px;
}

.custom-select {
  position: relative;
  width: 100px;
  cursor: pointer;
}

.selected-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.selected {
    font-size: 1em;
  
}
.options {
width: 100%;
height: 0px;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  z-index: 10;
  overflow: hidden;
  transition: height 0.3s ease;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
}
.option {
    padding: 10px 5px;
}
.option:hover {
  background: #4c2910;
  color: white;
}

.options-shown{
    border: 1px solid #ccc;
    height: 80px;
}

.selection-wrapper{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    gap: 5px;
}

.description-grid{
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 5px;
    padding: 10px 0px;
    font-size: 15px;
}

.product-rating-wrapper{
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 5px;
    padding: 20px 0px;
}

.product-rating{
    width: 150px;
}

.product-rating-number{
    font-size: 1em;
    color: #005792;;
}

.price-wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0px;
}

.diagonal-line {
  display: inline-block;
  position: relative;
  color: rgb(58, 58, 58);
  font-size: 1em;
}

.diagonal-line::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(255, 24, 24);
  transform: rotate(-20deg);
  transform-origin: center;
}


.add-to-cart-btn{
    width: 200px;
    color: #ffffff;
    background-color: #4c2910;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
}



.size-options {
    display: flex;
    align-items: end;
    padding: 20px;
    gap: 30px;
    height: 100px;
}

.size-options .small-cup{
    width: 40px;
    height: 40px;
}

.portion-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.size-options .medium-cup{
    width: 50px;
    height: 50px;
    position: relative;
}

.size-options .large-cup{
    width: 60px;
    height: 60px;
    position: relative;
}

.size-selection-wrapper .size-options-text{
    width: fit-content;
    margin: 10px 0px;
    border-bottom: 2px solid #4c291066;
}
.portion-size{
    cursor: pointer;
    padding: 10px;
    background-color: none;
    transition: 0.3s ease-in-out;
    margin: 0px 2px;
    border: 2px solid #ffffff;
}

.social-media-wrapper{
    display: flex;
    padding: 10px 0px;
    gap: 10px;
}

.social-media-icons:hover{
    cursor: pointer;
    opacity: 0.75;
}

.footer-hover a:hover{
    opacity: 0.5;
}


[data-tag="selected-portion"]{
    background-color: #4c29106a;
    border-radius: 40px;
    border: 2px solid;
}

/* Initial hidden state */
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Visible state */
.show {
  opacity: 1;
  transform: translateY(0);
}

.check-icon{
    width: 30px;
    height: auto;
    opacity: 0;
    transition: 0.3s ease;
}

.checkIcon-spin{
    opacity: 1;
    animation: spin;
    animation-duration: 1s;
}

@keyframes spin {
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.subscribe-wrapper{
    width: 100%;
    height: 250px;
    background-image: url("assets/images/beans_decor_left.png"), url("assets/images/beans_decor_right.png");
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    position: relative;
    background-color: rgba(230, 208, 185, 0.593);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.subscribe-wrapper::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    filter: blur(20px);
    z-index: 1;
    pointer-events: none;
}

.subscribe-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 50%;
}

.subscribe-content h1{
    color: #4c2910;
    font-weight: 800;
}

.subscribe-content p{
    color: #434343;
}

.subscribe-wrapper .email-input{
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 0px 10px;
    width: 250px;
    height: 40px;
    outline: none;
}

.subscribe-wrapper .subscribe-btn{
    background-color: #4c2910;
    color: #ffffff;
    padding: 0px 10px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.result-sort-wrapper{
    margin: auto;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-select{
    width: 130px;
    height: 30px;
    border-radius: 10px;
    outline: none;
}

.overlay-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    visibility: hidden;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top: 6px solid #4c2910; /* colored part */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 100px auto; /* center on page */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
